# Trimet Weather

## Goal of this sheet

The hope was that our group was going to be able to see how weather affected ridership on Trimet. We're a little short on data, so this is more of a proof of concept. What we have is a daily weather summary and a list  Average weekly ridership numbers, by month, from 2008 through 2017. What I'm attempting to do in this sheet are these steps:

1. Get a monthly number for max temp, min temp, precip, and snowfall. This number isn't super useful, but it will allow us to see monthly and year-on-year trends. More importantly, if we can get the rest of this to work, it will be trivial to use this data if we could get daily ridership numbers.

2. Use this number to see how weather correlates with the monthly numbers we have. We're going to use the max weekly ridership number. We'll use this number * 4, since we have a weekly average, not an actual weekly number. Again, if we could get a real weekly number, we could hone our results.

## Weather data

In [110]:
# Import all libraries needed this exercise
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Enable inline plotting
%matplotlib inline

In [111]:
# create DataFrame from weather data

pdx_weather = pd.read_csv('Portland_dailyclimatedata.csv', skiprows = 6)

In [112]:
pdx_weather.head()

,YR,MO,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,AVG or Total
0,1940,10,TX,M,M,M,M,M,M,M,...,58,57,57,57,56,53,59,59,52,M
1,1940,10,TN,M,M,M,M,M,M,M,...,53,48,41,38,37,45,48,50,46,M
2,1940,10,PR,M,M,M,M,M,M,M,...,0.63,1.03,0,0,T,0.18,0.58,0.50,0.25,M
3,1940,10,SN,M,M,M,M,M,M,M,...,0,0,0,0,0,0,0,0,0,0.0
4,1940,11,TX,52,53,47,55,51,58,56,...,42,44,51,44,45,59,57,45,-,49.1

In [113]:
pdx_weather.columns

Index(['YR', 'MO', 'Unnamed: 2', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'AVG or Total'],
      dtype='object')

In [114]:
pdx_weather.rename(columns={'Unnamed: 2': 'weather_category'}, inplace=True)
pdx_weather.head()

,YR,MO,weather_category,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,AVG or Total
0,1940,10,TX,M,M,M,M,M,M,M,...,58,57,57,57,56,53,59,59,52,M
1,1940,10,TN,M,M,M,M,M,M,M,...,53,48,41,38,37,45,48,50,46,M
2,1940,10,PR,M,M,M,M,M,M,M,...,0.63,1.03,0,0,T,0.18,0.58,0.50,0.25,M
3,1940,10,SN,M,M,M,M,M,M,M,...,0,0,0,0,0,0,0,0,0,0.0
4,1940,11,TX,52,53,47,55,51,58,56,...,42,44,51,44,45,59,57,45,-,49.1

I fixed the column that came in as blank to indicate that it is the weather category being measured. Thankfully, they alread have a monthly average/total numbers listed per month, which is exactly what we need since we only have monthly ridership numbers. Since we only have ridership data from July 08 to March 18, I'm going to trim this down. I'm going used 2009-2017, because I'm trying to avoid wasting time getting the selection straight. could just use the row indexes, but I think the dates are clearer, even if it means not using some of our data on this first pass.

This gives us a dataframe with 432 rows, ordered by year and month. Having the data listed on four lines for each month is kind of a pain, but I'm not sure the best way to split that up yet, so I'll leave it for the moment.

In [126]:
pdx_weather_smaller = pdx_weather[(pdx_weather.YR > 2008) & (pdx_weather.YR < 2018)]

pdx_weather_smaller.head()

,YR,MO,weather_category,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,AVG or Total
3276,2009,1,TX,52,43,41,40,51,55,56,...,47,39,40,41,43,48,38,39,44,46.2
3277,2009,1,TN,41,33,31,25,35,46,52,...,30,33,33,26,29,33,32,31,33,33.9
3278,2009,1,PR,2.49,0.76,T,0.12,0.11,0.10,0.2,...,0,T,0.07,0,0.06,0.01,0,T,0.01,4.50
3279,2009,1,SN,0,0.4,0,2.3,0,0,0,...,0,T,0.7,0,1.2,0,0,0,0,4.6
3280,2009,2,TX,42,53,58,59,49,50,53,...,49,55,55,46,50,53,-,-,-,50.3

OK, so we now need to get ridership numbers. I'm just going to pull in the month, bus, and max numbers.

In [ ]:
ridership = pd.read_excel('monthly-performance.xlsx', usecols=2, skiprows=9)
ridership.columns = ['date', 'bus_riders', 'max_riders']
ridership.head()

OK, now I'm adding the column with the montly max totals. We could just use the weekly numbers, but reporting our stuff as weekly ridership by month is confusing is just as confusing as when Trimet does it.

In [ ]:
ridership['Monthlthly_Max_Rides'] = ridership.max_riders * 4
ridership.head(5)

In [149]:
pdx_weather_smaller.head()

,YR,MO,weather_category,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,AVG or Total
3276,2009,1,TX,52,43,41,40,51,55,56,...,47,39,40,41,43,48,38,39,44,46.2
3277,2009,1,TN,41,33,31,25,35,46,52,...,30,33,33,26,29,33,32,31,33,33.9
3278,2009,1,PR,2.49,0.76,T,0.12,0.11,0.10,0.2,...,0,T,0.07,0,0.06,0.01,0,T,0.01,4.50
3279,2009,1,SN,0,0.4,0,2.3,0,0,0,...,0,T,0.7,0,1.2,0,0,0,0,4.6
3280,2009,2,TX,42,53,58,59,49,50,53,...,49,55,55,46,50,53,-,-,-,50.3

OK, now I need to get the averages and totals from the seperate weather dataframe lines tied to their month. It is a bit ugly, but I'm going to take advantage of the fact that both dfs are in order.

In [155]:
# making a df that I can mess with

scratch = ridership.copy()

In [156]:
scratch.head()

        date  bus_riders  max_riders  Monthlthly_Max_Rides
0 2009-01-01   1296700.0    643000.0             2572000.0
1 2009-02-01   1301300.0    634400.0             2537600.0
2 2009-03-01   1235300.0    653900.0             2615600.0
3 2009-04-01   1299000.0    679500.0             2718000.0
4 2009-05-01   1292900.0    700900.0             2803600.0

I'm trying a first pass to tie these 2 together by creating common index. The method below does not work. I need to get the weather file to have all the data on one line for this to happen.

In [157]:
scratch['row'] = range(122)
weather_scratch = pdx_weather_smaller.copy()
# weather_scratch.info()
weather_scratch['row'] = range(432)

In [158]:
scratch.merge(weather_scratch, how = 'inner', on = 'row')

,date,bus_riders,max_riders,Monthlthly_Max_Rides,row,YR,MO,weather_category,1,2,...,23,24,25,26,27,28,29,30,31,AVG or Total
0,2009-01-01,1296700.0,643000.0,2572000.0,0,2009,1,TX,52,43,...,47,39,40,41,43,48,38,39,44,46.2
1,2009-02-01,1301300.0,634400.0,2537600.0,1,2009,1,TN,41,33,...,30,33,33,26,29,33,32,31,33,33.9
2,2009-03-01,1235300.0,653900.0,2615600.0,2,2009,1,PR,2.49,0.76,...,0,T,0.07,0,0.06,0.01,0,T,0.01,4.50
3,2009-04-01,1299000.0,679500.0,2718000.0,3,2009,1,SN,0,0.4,...,0,T,0.7,0,1.2,0,0,0,0,4.6
4,2009-05-01,1292900.0,700900.0,2803600.0,4,2009,2,TX,42,53,...,49,55,55,46,50,53,-,-,-,50.3
5,2009-06-01,1222800.0,721000.0,2884000.0,5,2009,2,TN,31,29,...,35,45,35,33,28,32,-,-,-,32.4
6,2009-07-01,1167400.0,729600.0,2918400.0,6,2009,2,PR,0,0,...,0.32,0.34,0.10,0.10,0,T,-,-,-,1.36
7,2009-08-01,1158000.0,691400.0,2765600.0,7,2009,2,SN,0,0,...,0,0,T,0.3,0,0,-,-,-,0.3
8,2009-09-01,1198500.0,744185.0,2976740.0,8,2009,3,TX,50,59,...,48,57,52,60,54,53,54,51,51,52.5
9,2009-10-01,1224600.0,763900.0,3055600.0,9,2009,3,TN,41,41,...,38,42,39,35,39,40,36,34,42,38.1
10,2009-11-01,1172700.0,724100.0,2896400.0,10,2009,3,PR,0.04,0.14,...,0.15,0.01,0.14,0,0.01,0.49,0.05,0.01,0.10,3.36
11,2009-12-01,1050700.0,670600.0,2682400.0,11,2009,3,SN,0,0,...,0,0,0,0,0,0,0,0,0,0.3
12,2010-01-01,1199500.0,716450.0,2865800.0,12,2009,4,TX,50,54,...,56,63,56,58,59,55,58,68,-,62.3
13,2010-02-01,1208200.0,754300.0,3017200.0,13,2009,4,TN,40,43,...,40,39,41,43,43,46,44,41,-,42.2
14,2010-03-01,1168700.0,769800.0,3079200.0,14,2009,4,PR,0.24,0.19,...,0.04,0,0.03,0,0.23,0.53,0.02,0,-,2.31
15,2010-04-01,1201300.0,759250.0,3037000.0,15,2009,4,SN,0,0,...,0,0,0,0,0,0,0,0,-,0.0
16,2010-05-01,1196600.0,770150.0,3080600.0,16,2009,5,TX,71,65,...,74,75,74,75,78,86,88,88,87,71.5
17,2010-06-01,1156600.0,814400.0,3257600.0,17,2009,5,TN,46,51,...,49,48,47,52,51,53,59,56,58,48.7
18,2010-07-01,1105500.0,839750.0,3359000.0,18,2009,5,PR,0.01,0.55,...,0,0,0,0,0,0,0,0,0,3.26
19,2010-08-01,1076800.0,819550.0,3278200.0,19,2009,5,SN,0,0,...,0,0,0,0,0,0,0,0,0,0.0
20,2010-09-01,1138100.0,789600.0,3158400.0,20,2009,6,TX,83,79,...,80,82,69,73,85,78,78,80,-,74.8
21,2010-10-01,1181300.0,809700.0,3238800.0,21,2009,6,TN,57,61,...,52,56,57,51,52,58,53,52,-,56.6
22,2010-11-01,1106000.0,761800.0,3047200.0,22,2009,6,PR,0,0.01,...,0,0,0,0,0,0,0,0,-,1.30
23,2010-12-01,1018100.0,711400.0,2845600.0,23,2009,6,SN,0,0,...,0,0,0,0,0,0,0,0,-,0.0
24,2011-01-01,1145900.0,750900.0,3003600.0,24,2009,7,TX,87,96,...,76,85,90,93,103,106,106,96,94,86.5
25,2011-02-01,1142200.0,763300.0,3053200.0,25,2009,7,TN,55,58,...,60,59,63,61,68,74,71,67,62,60.6
26,2011-03-01,1138500.0,769900.0,3079600.0,26,2009,7,PR,0,0,...,0,0,0,0,0,0,0,0,0,0.34
27,2011-04-01,1197400.0,832100.0,3328400.0,27,2009,7,SN,0,0,...,0,0,0,0,0,0,0,0,0,0.0
28,2011-05-01,1196600.0,839800.0,3359200.0,28,2009,8,TX,95,94,...,74,81,72,85,92,80,76,82,80,80.5
29,2011-06-01,1143700.0,868900.0,3475600.0,29,2009,8,TN,63,65,...,53,54,55,52,56,58,63,62,60,59.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,2016-09-01,1137400.0,753200.0,3012800.0,92,2010,12,TX,44,46,...,44,43,47,44,49,49,42,35,35,46.6
93,2016-10-01,1148200.0,775500.0,3102000.0,93,2010,12,TN,40,40,...,40,41,40,39,40,39,33,26,22,38.5
94,2016-11-01,1110500.0,766093.0,3064372.0,94,2010,12,PR,0.20,T,...,T,0.04,0.14,0.24,0.93,0.92,0.21,0,0,8.35
95,2016-12-01,1006900.0,744900.0,2979600.0,95,2010,12,SN,0,0,...,0,0,0,0,0,0,T,0,0,T
96,2017-01-01,1139600.0,757400.0,3029600.0,96,2011,1,TX,35,37,...,46,52,52,53,55,54,54,50,44,47.3
97,2017-02-01,1122800.0,754500.0,3018000.0,97,2011,1,TN,28,24,...,35,40,37,35,35,37,40,39,36,36.1
98,2017-03-01,1131800.0,781200.0,3124800.0,98,2011,1,PR,0,0,...,0.01,T,T,0,0,0,0,0.03,0,4.73
99,2017-04-01,1168000.0,779900.0,3119600.0,99,2011,1,SN,0,0,...,0,0,0,0,0,0,0,0,0,T
100,2017-05-01,1197500.0,722100.0,2888400.0,100,2011,2,TX,42,44,...,42,39,34,33,46,43,-,-,-,46.5
101,2017-06-01,1113110.0,784190.0,3136760.0,101,2011,2,TN,31,29,...,32,29,25,18,33,36,-,-,-,34.1
102,2017-07-01,1074440.0,780830.0,3123320.0,102,2011,2,PR,0,0,...,0.15,0.08,0,T,0.18,1.66,-,-,-,4.28
103,2017-08-01,1063350.0,761840.0,3047360.0,103,2011,2,SN,0,0,...,0,1.5,0,T,T,0,-,-,-,1.5
104,2017-09-01,1116130.0,759360.0,3037440.0,104,2011,3,TX,43,49,...,59,54,52,52,50,54,53,59,63,52.5
105,2017-10-01,1140830.0,780450.0,3121800.0,105,2011,3,TN,34,38,...,33,37,38,42,43,41,46,52,46,39.7
106,2017-11-01,1088300.0,736570.0,2946280.0,106,2011,3,PR,0.62,0.20,...,0.14,0.25,0.04,0.30,0.14,0.14,0.33,T,T,6.43
107,2017-12-01,1019640.0,702580.0,2810320.0,107,2011,3,SN,0,0,...,0,0,0,0,0,0,0,0,0,0.0
108,2018-01-01,1101140.0,723660.0,2894640.0,108,2011,4,TX,68,52,...,71,57,57,57,56,52,58,60,-,56.0
109,2018-02-01,1108640.0,736830.0,2947320.0,109,2011,4,TN,44,41,...,37,46,46,44,43,40,40,41,-,39.8
110,2018-03-01,1112950.0,750870.0,3003480.0,110,2011,4,PR,0.23,0.12,...,0.01,0.26,0.66,0.21,0.10,0.34,T,0,-,5.04
111,NaT,NaN,NaN,NaN,111,2011,4,SN,0,0,...,0,0,0,0,0,0,0,0,-,0.0
112,NaT,NaN,NaN,NaN,112,2011,5,TX,67,61,...,61,68,57,57,57,62,56,64,61,62.5
113,NaT,NaN,NaN,NaN,113,2011,5,TN,38,48,...,49,42,45,42,45,44,44,49,51,45.6
114,NaT,NaN,NaN,NaN,114,2011,5,PR,0,T,...,0.02,0,0.23,0.13,0.22,0.14,0.02,0.01,0.06,2.92
115,NaT,NaN,NaN,NaN,115,2011,5,SN,0,0,...,0,0,0,0,0,0,0,0,0,0.0
116,NaT,NaN,NaN,NaN,116,2011,6,TX,63,61,...,67,68,72,75,77,70,69,67,-,70.1
117,NaT,NaN,NaN,NaN,117,2011,6,TN,49,46,...,55,54,50,51,59,62,59,55,-,53.2
118,NaT,NaN,NaN,NaN,118,2011,6,PR,0.34,0.07,...,0,0,0,0,0.03,0.07,T,T,-,0.73
119,NaT,NaN,NaN,NaN,119,2011,6,SN,0,0,...,0,0,0,0,0,0,0,0,-,0.0
120,NaT,NaN,NaN,NaN,120,2011,7,TX,79,84,...,85,87,75,73,75,84,82,84,79,76.9
121,NaT,NaN,NaN,NaN,121,2011,7,TN,50,56,...,55,59,60,56,57,56,59,58,58,56.5

# Trying to figure out the weather column issue, lots of random stuff below.

In [129]:
pdxw_copy = pdx_weather_smaller.copy()
pdxw_copy['row_index'] = 0
pdxw_copy['max_temp'] = 0
pdxw_copy['min_temp'] = 0
pdxw_copy['precip'] = 0
pdxw_copy['snow'] = 0
pdxw_copy.head(1)

,YR,MO,weather_category,1,2,3,4,5,6,7,...,28,29,30,31,AVG or Total,row_index,max_temp,min_temp,precip,snow
3276,2009,1,TX,52,43,41,40,51,55,56,...,48,38,39,44,46.2,0,0,0,0,0

In [139]:
pdxw_copy.iloc[1:2]

,YR,MO,weather_category,1,2,3,4,5,6,7,...,28,29,30,31,AVG or Total,row_index,max_temp,min_temp,precip,snow
3277,2009,1,TN,41,33,31,25,35,46,52,...,33,32,31,33,33.9,0,0,0,0,0

In [148]:

# for row in pdxw_copy:
#     if (pdxw_copy[row:'weather_category']) == 'TX':
#         pdxw_copy.loc[row:'max_temp'] = pdx.iloc[row:34]
#         if pdxw_copy[row:'weather_category'] == 'TN':
#             pdxw_copy[row:'min_temp'] = pdx.iloc[row:34]
#             if pdxw_copy[row:'weather_category'] == 'PR':
#                 pdxw_copy[row:'precip'] = pdx.iloc[row:34]
#                 if pdxw_copy[row:'weather_category'] == 'SN':
#                     pdxw_copy[row:'snow'] = pdx.iloc[row:34]

for index, row in pdxw_copy.iterrows():
    if row['weather_category'] == 'TX':
        row['max_temp'] = row['AVG or Total']
    elif row['weather_category'] == 'TN':
        row['min_temp'] = row['AVG or Total']
    elif row['weather_category'] == 'PR':
        row['precip'] = row['AVG or Total']
    elif row['weather_category'] == 'SN':
        row['snow'] = row['AVG or Total']
# print(pdxw_copy.iloc[0,2]=='TX')
pdxw_copy.head(10)

,YR,MO,weather_category,1,2,3,4,5,6,7,...,28,29,30,31,AVG or Total,row_index,max_temp,min_temp,precip,snow
3276,2009,1,TX,52,43,41,40,51,55,56,...,48,38,39,44,46.2,0,0,0,0,0
3277,2009,1,TN,41,33,31,25,35,46,52,...,33,32,31,33,33.9,0,0,0,0,0
3278,2009,1,PR,2.49,0.76,T,0.12,0.11,0.10,0.2,...,0.01,0,T,0.01,4.50,0,0,0,0,0
3279,2009,1,SN,0,0.4,0,2.3,0,0,0,...,0,0,0,0,4.6,0,0,0,0,0
3280,2009,2,TX,42,53,58,59,49,50,53,...,53,-,-,-,50.3,0,0,0,0,0
3281,2009,2,TN,31,29,27,30,36,34,34,...,32,-,-,-,32.4,0,0,0,0,0
3282,2009,2,PR,0,0,0,0,T,0.09,0,...,T,-,-,-,1.36,0,0,0,0,0
3283,2009,2,SN,0,0,0,0,0,0,0,...,0,-,-,-,0.3,0,0,0,0,0
3284,2009,3,TX,50,59,54,52,50,51,46,...,53,54,51,51,52.5,0,0,0,0,0
3285,2009,3,TN,41,41,41,33,39,34,34,...,40,36,34,42,38.1,0,0,0,0,0